body
  margin 0

.header
  width 100%
  position -webkit-sticky
  position -moz-sticky
  position -ms-sticky
  position -o-sticky
  position sticky
  display flex
  justify-content flex-start
  align-items center
  top 0
  height 37px
  background DARKBLUE
  margin-bottom 10px

  .header-link
    color YELLOW
    padding-left 10px
